<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
<!-- <display-name>studyEE</display-name> -->
<!-- <welcome-file-list> -->
<!-- <welcome-file>index.html</welcome-file> -->
<!-- <welcome-file>index.htm</welcome-file> -->
<!-- <welcome-file>index.jsp</welcome-file> -->
<!-- <welcome-file>default.html</welcome-file> -->
<!-- <welcome-file>default.htm</welcome-file> -->
<!-- <welcome-file>default.jsp</welcome-file> -->
<!-- </welcome-file-list> -->

<!-- 서블릿 이미지 업로드 셋팅  -->
<servlet>
<servlet-name>ProductServlet</servlet-name>
<servlet-class>com.product.ProductServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ProductServlet</servlet-name>
<url-pattern>/product/*</url-pattern>
</servlet-mapping>

<!--   유저 서블릿   -->
<servlet>
<servlet-name>SignUpServlet</servlet-name>
<servlet-class>com.user.SignUpServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>SignUpServlet</servlet-name>
<url-pattern>/project/*</url-pattern>
</servlet-mapping>

<!--  	리뷰 서블릿   -->
<servlet>
<servlet-name>ReviewServlet</servlet-name>
<servlet-class>com.review.ReviewServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ReviewServlet</servlet-name>
<url-pattern>/detail/*</url-pattern>
</servlet-mapping>


<!--  	장바구니 서블릿   -->
<servlet>
<servlet-name>BasketServlet</servlet-name>
<servlet-class>com.basket.BasketServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>BasketServlet</servlet-name>
<url-pattern>/shoppingcart/*</url-pattern>
</servlet-mapping>


<!--  	결제페이지 서블릿  -->
<servlet>
<servlet-name>ChargeServlet</servlet-name>
<servlet-class>com.charge.ChargeServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ChargeServlet</servlet-name>
<url-pattern>/payment/*</url-pattern>
</servlet-mapping>
</web-app>